* {
  font-family: "Baloo Tammudu", cursive;
  font-weight: bold;
  text-align: center;
  color: rgb(128, 18, 18);
}
body {
  background-color: rgb(255, 237, 157);
}
#container {
  width: 90%;
  padding: 20px;
}
header {
  font-size: 2rem;
}
button {
  cursor: pointer;
  display: inline;
}
.fullscreen {
  position: absolute; /*removed from the normal doc flow but placed to the nearest positioned element, which is header"*/
  top: 50px;
  right: 10px;
}
.fullscreen button {
  border: none;
  background-color: rgb(255, 237, 157);
}

body.fullscreen-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Viewport height */
  margin: 0;
}
.option-button button {
  font-size: 1.2rem;
  width: 200px;
  height: 50px;
  border-radius: 2rem;
  background-color: rgb(128, 18, 18);
  color: rgba(255, 237, 157);
  margin: 20px;
  transition-duration: 0.5s;
}

.option-button button:hover {
  background-color: rgb(194, 59, 59);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* .option-button button:active {
  background-color: rgb(128, 18, 18);
} */
.option-button button.special {
  background-color: rgb(255, 209, 3);
  color: rgb(128, 18, 18);
}
.option-button button.special:hover {
  background-color: rgb(255, 178, 91);
}
#timer-display {
  font-size: 7rem;
}
.icons button {
  border: none;
  padding: 5px;
  background-color: rgb(255, 237, 157);
}

.material-icons {
  font-size: 4rem;
  font-weight: bold;
}

.form-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.form-group label {
  width: 150px; /*consistent width for alignment*/
  text-align: left;
  margin-left: 20px;
}
.form-group input {
  flex: 1;
  padding: 5px;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  font-size: inherit;
  margin-right: 20px;
}
/*when clicked on*/
.form-group input:focus {
  border: 3px outset rgb(128, 18, 18);
}

/*acting as a fill screen semi-transparetn overlay onto the current screen*/
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* semi-transparent black backdrop */
  transform: translate(-50%, -50%);
}
.modal-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border-radius: 2rem;
  width: 500px;
  height: 320px;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.modal form {
  display: inline;
  flex-direction: column;
  text-align: left;
}

.modal hr {
  width: 98%;
  line-height: 80%;
  border-bottom: 2px solid rgb(128, 18, 18);
}

#save-time {
  font-size: 1.2rem;
  margin: 5px;
  width: 70px;
  background-color: rgb(128, 18, 18);
  color: rgb(255, 209, 3);
}
#save-time:hover,
#save-time:active {
  cursor: pointer;
  background-color: rgb(175, 53, 53);
}
.close-modal {
  color: rgb(128, 18, 18);
  float: right;
  font-size: 3rem;
  font-weight: bold;
  padding-right: 12px;
}

.close-modal:hover,
.close:focus {
  color: rgb(175, 53, 53);
  cursor: pointer;
}
